body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1a1a1a;
    color: #fff;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    margin: 0;
}

.main-container {
    background-color: #2d2d2d;
    padding: 2rem;
    border-radius: 15px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    text-align: center;
}

input {
    padding: 12px;
    border-radius: 8px;
    border: none;
    width: 60%;
    background: #404040;
    color: white;
}

button {
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
}

/* Botón Guardar */
.input-section button {
    background-color: #007bff;
    color: white;
}

.input-section button:hover {
    background-color: #0056b3;
}

/* Botón Sortear */
.btn-action {
    background-color: #28a745;
    color: white;
    width: 100%;
    font-size: 1.2rem;
    margin: 20px 0;
}

.btn-action:hover {
    transform: scale(1.02);
    background-color: #218838;
}

/* Botón Borrar */
.btn-danger {
    background-color: #dc3545;
    color: white;
    font-size: 0.8rem;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.resultado-box {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffd700;
    /* Dorado */
    min-height: 40px;
    padding: 10px;
    border: 2px dashed #555;
    border-radius: 8px;
}

ul {
    list-style: none;
    padding: 0;
    text-align: left;
    max-height: 200px;
    overflow-y: auto;
}

li {
    background: #383838;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

/* --- Animación del Ganador --- */
.ganador-anim {
    animation: capturaPokemon 0.6s ease-out forwards;
    color: #dc0a2d !important;
    /* Rojo intenso */
    text-shadow: 2px 2px 0px #fff;
    border-color: #ffcb05 !important;
    /* Borde amarillo */
    background-color: #fff !important;
}

/* En tu archivo style.css, busca o reemplaza esto: */

.resultado-box {
    font-size: 1.5rem;
    font-weight: 900;
    color: #4afc94 !important;
    /* <--- ESTO ES LO IMPORTANTE (Negro forzado) */
    background: #fffce0;
    /* Fondo amarillo claro */
    min-height: 50px;
    padding: 15px;
    border: 4px solid #222;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;

    /* Asegura que no tenga animaciones raras por defecto */
    opacity: 1;
    transform: scale(1);
}

@keyframes capturaPokemon {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }

    50% {
        transform: scale(1.4);
    }

    /* Se hace gigante */
    70% {
        transform: scale(0.9);
    }

    /* Se encoge un poco */
    100% {
        transform: scale(1);
        opacity: 1;
    }

    /* Vuelve a tamaño normal */
}